.containerPopup {
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(66, 66, 66, 0.6);
}

.popup {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 35vw;
  height: 90vh;
  border-radius: 1rem;
  padding: 2vh 1vw;
  z-index: 0;
  background-color: #CAEBF2;
}

.popup > img {
  cursor: pointer;
  height: 3vh;
  width: auto;
  margin: 0 0 0 auto;
}

.popup > h1 {
  font-family: Nunito;
  font-weight: 800;
  color: #026670;
  font-size: 1.5rem;
  margin: 0.5vh auto 0.5vh auto;
}

.label {
  color: #121212;
  text-align: left;
  font-weight: 600;
  font-size: 0.7rem;
  font-family: Nunito;
  display: block;
  width: 45%;
  margin: auto auto auto 1.2vw;
}

.topCtn {
  display: flex;
  flex-direction: column;
}

.inputfield {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

.input1 {
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  border-bottom: solid #026670 1px;
  outline: none;
  color: black;
  width: 43%;
  margin: auto 1vw auto auto;
}

.description {
  height: 15vh;
  width: 32vw;
  font-family: Montserrat;
  border: solid #026670 1px;
  resize: none;
  overflow-y: scroll;
  outline: none;
  margin: 1vh auto 0 1.2vw;
}
.description::-webkit-scrollbar {
  width: 0.3vw;
}

.description::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.memberContainer {
  width: 45%;
  margin: 0 1vw;
}

.members {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 35vh;
  width: 100%;
}

.members::-webkit-scrollbar {
  width: 0.3vw;
}

.members::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.memberCtn {
  cursor: pointer;
  border: 2px solid #FCE181;
  background-color: #FEF9C7;
  border-radius: 0.6rem;
  padding: 0 3px;
  height: 8vh;
  display: flex;
  flex-direction: row;
  margin: 0.4vh 0;
}

.memberCtn > img {
  height: 6vh;
  width: auto;
  border-radius: 100vh;
  margin: 1vh 0.1vw 1vh 0.1vw;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  height: 8vh;
  width: 100%;
  margin: auto auto auto 1vw;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  margin: auto auto 0 0;
}

.role {
  font-size: 0.8rem;
  margin: 0 auto auto 0;
}

.memberInput {
  display: flex;
  flex-direction: row;
}

.memberContainer > h1 {
  font-size: 1rem;
}

.description > p {
  margin: 0 auto 0 auto;
}
