.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topArea {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  background-color: #CABEF2;
}

.pageheading{
  display: flex;
  margin: auto;
}

.pageheading > h1{
  font-family: Nunito;
  color: #0A1612;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 2.3rem;
  margin: auto;
}

.logoutBtn {
  display: flex;
  width: 10vw;
  height: 10vh;
  margin: auto 0;
  background-color: #F78733;
  cursor: pointer;
}

.logoutBtn > p {
  font-family: Nunito;
  font-size: 1.3rem;
  font-weight: 500;
  margin: auto;
}

.mainWindow {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 90vh;
}


.profileContainer {
  background-color: #0A1612;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 90vh;
}

.profileHeader {
  display: flex;
  height: 7vh;
  background-color: #1A2930;
}

.profileHeader > h1 {
  font-family: Nunito;
  color: #FFFFFF;
  font-size: 1.2rem;
  margin: auto;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  margin: 4vh auto 0 auto;
  width: 60vw;
  height: 40vh;
}

.mainContainer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 90vh;
}

.projectCtn{
  height: 80%;
  width: 85%;
  overflow-y: scroll;
  margin: 0 auto 2vh 5vw;
}

.projectCtn::-webkit-scrollbar {
  width: 0.5vw;
}

.projectCtn::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}


.invitesContainer {
  display: flex;
  flex-direction: column;
  margin: 4vh auto 0 auto;
  width: 60vw;
  height: 30vh;
}


.mainContainer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 90vh;
}

.inviteCtn{
  height: 80%;
  width: 85%;
  overflow-y: scroll;
  margin: 0 auto 2vh 5vw;
}

.inviteCtn::-webkit-scrollbar {
  width: 0.5vw;
}

.inviteCtn::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}


.projectHeading {
  height: 6vh;
  width: 55vw;
  margin: 1vh auto 2vh auto;
  display: flex;
}

.projectHeading > h2{
  margin: auto;
  font-family: Nunito;
  font-size: 1.7rem;
  color: #4ABDAC;
  font-weight: 700;
  letter-spacing: 3px;
}

.profilePicture {
  height: 20vh;
  cursor: pointer;
  width: 20vh;
  margin: 20vh auto 0 auto;
}

.picture {
  height: 20vh;
  width: 20vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 20vw;
  margin: 0 auto;
}

.edit {
  background-color: #FFFFFF;
  cursor: pointer;
  height: 6vh;
  width: 8vw;
  display: flex;
  border-radius: 10px;
  margin: auto;
}

.update {
  display: flex;
  border-radius: 10px;
  background-color: #F7CE3E;
  height: 6vh;
  width: 8vw;
  margin: auto;
  cursor: pointer;
}

.edit > p {
  font-weight: bold;
  color: #1A2930;
  font-family: Nunito;

  margin: auto auto auto auto;
}

.update > p {
  font-family: Nunito;

  font-weight: bold;
  color: #1A2930;
  margin: auto auto auto auto;
}

input .update {
  font-weight: 100;
}

.username {
  margin: 3vh auto 1vh auto;
  height: 4vh;
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  width: 20vw;
  overflow: hidden;
  font-family: Noto Sans;
  color: #FFFFFF;
}

.usernameInput {
  margin: 3vh auto 1vh auto;
  height: 4vh;
  display: flex;
  font-family: Montserrat;
  outline: none;
  /* font-weight: bold; */
  font-size: 1rem;
  font-family: Noto Sans;
  width: 20vw;
  color: #1A2930;
}

.username > p {
  font-family: Nunito;

  margin: auto auto auto auto;
}

.projectNameInput {
  width: 50vw;
  height: 5vh;
  margin: auto auto auto auto;
}

.projectName {
  margin: auto auto auto auto;
  width: 38vw;
  height: 5vh;
  padding-left: 1vw;
}

.addProject {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 5vh;
  margin: 0 auto 0 auto;
  display: flex;
}

.addProjectBtn {
  background-color: #4ABDAC;
  height: 6vh;
  width: 12vw;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}

.addProjectBtn > p {
  font-family: Nunito;

  margin: auto;
  color: #0A1612;
}
