.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: pink;
}

.topArea {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  background-color: red;
}

.logoutBtn {
  display: flex;
  width: 10vw;
  height: 10vh;
  margin: 0 0 0 auto;
  background-color: hotpink;
  cursor: pointer;
}

.logoutBtn > p {
  margin: auto;
}

.mainWindow {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 90vh;
  background-color: blueviolet;
}

.mainContainer {
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 90vh;
}

.profileContainer {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 90vh;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  margin: 4vh auto 0 auto;
  width: 60vw;
  height: 40vh;
}

.invitesContainer {
  display: flex;
  flex-direction: column;
  margin: 4vh auto 0 auto;
  width: 60vw;
  height: 30vh;
}

.projectHeading {
  height: 6vh;
  width: 55vw;
  background-color: yellow;
  margin: 1vh auto 2vh auto;
}

.profilePicture {
  background-color: lightgreen;
  height: 20vh;
  width: 20vh;
  margin: 20vh auto 0 auto;
}

.picture {
  height: 20vh;
  width: 20vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 20vw;
  margin: 0 auto;
}

.edit {
  background-color: deeppink;
  cursor: pointer;
  height: 6vh;
  width: 8vw;
  display: flex;
  border-radius: 10px;
  margin: auto;
}

.update {
  display: flex;
  border-radius: 10px;
  background-color: crimson;
  height: 6vh;
  width: 8vw;
  margin: auto;
  cursor: pointer;
}

.edit > p {
  font-weight: bold;
  margin: auto auto auto auto;
}

.update > p {
  font-weight: bold;

  margin: auto auto auto auto;
}
input .update {
  font-weight: 100;
}

.username {
  margin: 1vh auto 1vh auto;
  height: 4vh;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  width: 20vw;
  background-color: transparent;
}

.username > p {
  margin: auto auto auto auto;
}

.projectNameInput {
  width: 50vw;
  height: 5vh;
  margin: auto auto auto auto;
}

.projectName {
  margin: auto auto auto auto;
  width: 40vw;
  height: 5vh;
}

.addProject {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 5vh;
  margin: 0 auto 0 auto;
  display: flex;
}

.addProjectBtn {
  background-color: purple;
  height: 5vh;
  width: 10vw;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto 0 auto;
}

.addProjectBtn > p {
  margin: auto auto auto auto;
}
