.null {
  color: #c5c1c0 #0a1612 #1a2930 #f7ce3e;
  color: #4abdac #fc4a1a #f78733 #dfdce3;
  color: #026670 #9fedd7 #fef9c7 #fce181 #edeae5;
  font-family: Nunito, Noto Sans, Montserrat, Shadows Into Light;
}

.main_container {
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background-color: #dfdce3;
  background-image: url("../../../public/sun.svg");
}

.main {
  width: 30vw;
  height: 80vh;
  overflow: hidden;
  background: #026670;
  border-radius: 10px;
  box-shadow: 1vw 0 5vw #0a1612;
}

.chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.input_fields {
  display: flex;
  width: 70%;
  margin: 0 auto 2vh auto;
  padding-left: 5px;
  border-radius: 5px;
}

.input_fields_login {
  display: flex;
  width: 70%;
  color: #ffffff;
  margin: 0 auto 2vh auto;
  padding-left: 5px;
}

.input_fields_login > input {
  margin-left: 1.5vw;
  width: 60%;
  border: none;
  border-bottom: solid 2px #edeae5;
  height: 5vh;
  background: transparent;
  justify-content: center;
  display: flex;
  outline: none;
  color: #edeae5;
  height: 3.5vh;
}

.label {
  color: #ffffff;
  font-size: 3.2rem;
  justify-content: center;
  display: flex;
  font-family: Nunito;
  margin: 8vh;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  margin: 0 auto auto 2vw;
  width: 60%;
  height: 5vh;
  font-family: Montserrat;
  background: transparent;
  justify-content: center;
  display: flex;
  border: none;
  height: 3.5vh;
  border-bottom: solid 2px #0a1612;
  outline: none;
}

.button {
  width: 30%;
  height: 7vh;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #f78733;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5vh;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background: #27a792;
}

.login {
  height: 70vh;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-30vh);
  transition: 0.8s ease-in-out;
}

.login .label {
  color: #026670;
  transform: scale(0.6);
}

.chk:checked ~ .login {
  transform: translateY(-75vh);
}

.chk:checked ~ .login .label {
  transform: scale(1);
}

.chk:checked ~ .signup .label {
  transform: scale(0.6);
}

.icons {
  padding: auto;
  padding-left: 10px;
  height: auto;
  width: auto;
}
