.container {
    display: flex;
    cursor: pointer;
    height: 5vh;
    width: 9vw;
    background-color: #FFFFFF;
    margin: 2vh auto;
    border-radius: 3px;
}

.selected {
    background-color: #F7CE3E;
}

.container > p {
    margin: auto;
    font-family: Noto Sans;
    font-weight: 500;
}