.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    height:5vh;
    width: 50vw;
    margin: 1vh auto 0 auto;
}

.acceptBtn{
    background-color: green;
    height:5vh;
    width: 6vw;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.rejectBtn{
    background-color: red;
    height:5vh;
    width: 6vw;
    margin: 0 0 0 0;
    cursor: pointer;
}