.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    height:5vh;
    width: 50vw;
    margin: 1vh auto 0 auto;
}

.acceptBtn{
    background-color: green;
    display: flex;
    height:5vh;
    width: 6vw;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.rejectBtn{
    background-color: grey;
    height:5vh;
    width: 6vw;
    display: flex;
    margin: 0 0 0 0;
    cursor: pointer;
}

.main{
    display: flex;
}

.main > p{
    margin: auto auto auto 1vw;
}
.acceptBtn > p{
    margin: auto auto auto auto;

}
.rejectBtn > p{
    margin: auto auto auto auto;
}